/* Untitled Sans - Light */
@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-light.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-light.woff') format('woff');
}

@font-face {
	font-family: 'Untitled Sans';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-light-italic.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-light-italic.woff') format('woff');
}

/* Untitled Sans - Regular */
@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-regular.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-regular.woff') format('woff');
}

@font-face {
	font-family: 'Untitled Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-regular-italic.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-regular-italic.woff') format('woff');
}

/* Untitled Sans - Medium */
@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-medium.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-medium.woff') format('woff');
}

@font-face {
	font-family: 'Untitled Sans';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-medium-italic.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-medium-italic.woff') format('woff');
}

/* Untitled Sans - Bold */
@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-bold.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-bold.woff') format('woff');
}

@font-face {
	font-family: 'Untitled Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-bold-italic.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-bold-italic.woff') format('woff');
}

/* Untitled Sans - Black */
@font-face {
	font-family: 'Untitled Sans';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-black.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-black.woff') format('woff');
}

@font-face {
	font-family: 'Untitled Sans';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('../../fonts/untitled-sans-web-black-italic.woff2') format('woff2'),
		url('../../fonts/untitled-sans-web-black-italic.woff') format('woff');
}

/* IBM Plex Mono - Regular */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../fonts/ibm-plex-mono-v12-latin-regular.woff2') format('woff2'),
		url('../../fonts/ibm-plex-mono-v12-latin-regular.woff') format('woff');
}
