.container {
	@apply max-w-screen-2xl mx-auto px-2 md:px-4;
}
/* referring to classes in containers.php */
.outer-container {
	@apply max-w-screen-2xl mx-auto px-2 md:px-4 mb-2;
	/* @apply container not working */
}
.default {
	/* @apply col-span-12 lg:col-span-8 lg:col-start-3; */
	/* @apply col-span-12; */
}