.container {
	@apply max-w-screen-2xl mx-auto px-6;
}
/* referring to classes in containers.php */
.outer-container {
	@apply max-w-screen-2xl mx-auto px-6 mb-1;
	/* @apply container not working */
}
.default {
	/* @apply col-span-12 lg:col-span-8 lg:col-start-3; */
	/* @apply col-span-12; */
}

/* .bb-row {
	@apply bg-red-300;
	[class^="bb-block-"] {
		@apply aspect-auto h-full;
	}
	.bb-block-image {
		img {
			@apply opacity-25 object-cover h-full w-full;
		}
	}
} */