@layer base {
	h1, h2, h3, h4, h5, h6 {
		@apply font-medium;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply mb-2 leading-tight;
	}

	h1, .h1 {
		@apply text-2xl lg:text-4xl;
	}
	h2, .h2 {
		@apply text-2xl lg:text-4xl;
	}
	h3, .h3 {
		@apply text-2xl lg:text-4xl;
	}
	h4, .h4 {
		@apply text-2xl lg:text-4xl;
	}
	h5, .h5 {
		@apply text-2xl lg:text-4xl;
	}
	h6, .h6 {
		@apply text-2xl lg:text-4xl;
	}

	p, ul:not([class]), ol:not([class]) {
		@apply mb-6 max-w-6xl text-lg leading-tight lg:text-xl font-normal;
	}
}

.main-content {
	p a,
	ul a,
	ol a,
	a.link {
		@apply underline decoration-1 underline-offset-2 transition hover:text-primary/70;
	}
}
/* Strange thing coming from WP */
a:not(.wp-element-button) {
	@apply no-underline;
}

/* Make the paragraphs inside a block inherit typography
   Useful when we don't control the output */
.text-inherit,
.text-inherit p,
.text-inherit ul,
.text-inherit ol {
	font-size: inherit;
}

abbr {
	@apply no-underline;
}

cite {
	@apply not-italic;
}
