@layer base {
	h1, h2, h3, h4, h5, h6 {
		@apply font-medium;
	}

	:where(h1, h2, h3, h4, h5, h6) {
		@apply mb-2 leading-tight;
	}

	:where(h1, .h1) {
		@apply text-2xl lg:text-5xl;
	}
	:where(h2, .h2) {
		@apply text-2xl lg:text-3xl;
	}
	:where(h3, .h3) {
		@apply text-xl lg:text-2xl;
	}
	:where(h4, .h4) {
		@apply text-lg lg:text-xl;
	}
	:where(h5, .h5) {
		@apply text-base lg:text-lg;
	}
	:where(h6, .h6) {
		@apply text-sm lg:text-base;
	}

	:where(p, ul:not([class]), ol:not([class])) {
		@apply mb-6 max-w-6xl text-lg leading-tight lg:text-xl font-normal;
	}
}

.main-content {
	p a,
	ul a,
	ol a,
	a.link {
		@apply underline decoration-1 underline-offset-2 transition hover:text-primary/70;
	}
}
/* Strange thing coming from WP */
a:where(:not(.wp-element-button)) {
	@apply no-underline;
}

/* Make the paragraphs inside a block inherit typography
   Useful when we don't control the output */
.text-inherit,
.text-inherit p,
.text-inherit ul,
.text-inherit ol {
	font-size: inherit;
}

abbr {
	@apply no-underline;
}

cite {
	@apply not-italic;
}
