/* UI Basic, custom made by BB */
/* @import './ui/colors.css'; */
@import './ui/typography.css';
@import './ui/grid.css';


/* Components, custom made by BB */
/* @import '../../bb-components/bb-navbars/bb-navbar-simple/style.css'; */
/*
@import './ui/badges.css';
@import './ui/effects.css';
@import './ui/fonts.css';
@import './ui/header-top.css';
@import './ui/heartbeat.css';
@import './ui/icons.css';
@import './ui/touch.css';
@import './ui/buttons.css';
@import './ui/forms.css';
@import './ui/search.css'; */

/* ACF blocks - add explicit imports here when block styles are created */
/* @import '../../blocks/block-name/style.css'; */

/* Plugins overwrites */
/* @import './plugin-overwrites/polylang.css';
@import './plugin-overwrites/complianz.css'; */

/* Basecoat overwrites */
.btn,
[class*="btn-"] {
  box-shadow: none;
}
